node_modules/**
out/**
dist/**
src/**
.vscode/**
yarn.lock
package-lock.json
*.map
.gitignore
.yarnrc
esbuild.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
